*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin-top: 20px;
}

h1{
    text-decoration: underline;
}

h3{
    margin-top: 10px;
}

#content{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#add-item{
    margin-right: 40px;
    padding: 10px 5px;
    background-color: rgb(65, 65, 255);
    color: white;
    border-radius: 50px;
    border: none;
}

#add-item:hover{
    background-color: rgb(35, 35, 255);
}

#view-options{
    border-radius: 50px;
}

#groceryList{
    margin-top: 15px;
}