*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #B3B3B3;
}

header{
    margin-top: 20px;
}

h1{
    text-decoration: underline;
}

h3{
    margin-top: 10px;
}

input{
    text-align: left;
    margin-top: 15px;
    padding: 4px;
    overflow: auto;
    transition: background 0.2s ease;
    box-shadow: 0 2px 0 #424242;
    border: none;
}

#content{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#add-item{
    margin-right: 40px;
    padding: 10px 5px;
    background-color: rgb(65, 65, 255);
    color: white;
    border-radius: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 0 4px 0 rgb(31, 31, 122);
}

#add-item:hover{
    background-color: rgb(35, 35, 255);
}

#add-item:active{
    transform: translateY(3px);
    box-shadow: 0 1px 0 rgb(31, 31, 122);
    background-color: rgb(35, 35, 255);
}

#view-options{
    padding: 10px 5px;
    border-radius: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 0 4px 0 #424242;
}

#view-options:active{
    transform: translateY(3px);
    background-color: lightgray;
}

#view-options{
    padding: 10px 5px;
    border-radius: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 0 4px 0 #424242;
}

#groceryList{
    margin-top: 15px;
    padding: 20px;
    width: 300px;
    height: 200px;
    background-color: white;
    overflow: auto;
    transition: background 0.2s ease;
    box-shadow: 0 4px 0 #424242;
}

#groceryList li{
    text-align: left;
    margin: 10px 20px;
    cursor: pointer;
    text-transform: capitalize;
}