*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

header{
    margin-top: 20px;
}

h1{
    text-decoration: underline;
}

h3{
    margin-top: 20px;
}

a{
    display: flex;
    margin: 15px;
}